<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Leandro Beron</title>
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h1>Tesis</h1>
            <hr>
            {% block content %}{% endblock %}
        </div>
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>
        {% block javascript %}{% endblock %}
    </body>
</html>
